extends layout

block content
  if user
    ul.list-group
      each tagDocument, i in tagDocuments
        br
        h5.btn.btn-dark
          i #{tagDocument.tagname} 
        each note,i in notes
          if user._id == note.userid
            each noteId, i in tagDocument.link
              if String(noteId) == String(note._id)
                li.list-group-item
                  a(href='/notes/' + note._id)= note.title
              
        br
  else 
    p
      i
        strong Please login to see your notes.
